h1{
    text-align: center;
    color: blue;
    font-family: 'Lobster', cursive;
}
h2{
    text-align: center;
}
#article_title{
    font-weight: bolder;
    color:blue;
}
p{
    text-align:  center;
}
